.dark .w-color-sketch {
    --sketch-background: #323232 !important;
}

.dark .w-color-swatch {
    --sketch-swatch-border-top: 1px solid #525252 !important;
}

.dark .w-color-block {
    --block-background-color: #323232 !important;
    --block-box-shadow: rgb(0 0 0 / 10%) 0 1px !important;
}

.dark .w-color-editable-input {
    --editable-input-label-color: #757575 !important;
    --editable-input-box-shadow: #616161 0px 0px 0px 1px inset !important;
    --editable-input-color: #bbb !important;
}
.dark .w-color-github {
    --github-border: 1px solid rgba(0, 0, 0, 0.2) !important;
    --github-background-color: #323232 !important;
    --github-box-shadow: rgb(0 0 0 / 15%) 0px 3px 12px !important;
    --github-arrow-border-color: rgba(0, 0, 0, 0.15) !important;
}

.dark .w-color-compact {
    --compact-background-color: #323232 !important;
}

.dark .w-color-material {
    --material-background-color: #323232 !important;
    --material-border-bottom-color: #707070 !important;
}

.dark .w-color-alpha {
    --alpha-pointer-background-color: #6a6a6a !important;
    --alpha-pointer-box-shadow: rgb(0 0 0 / 37%) 0px 1px 4px 0px !important;
}

.w-color-alpha {
    background-color: transparent !important;
}

.w-color-alpha > div:nth-child(1) {
    border-radius: 4px !important;
}
