/node_modules
/src-widgets/build
/src-widgets/node_modules
/.idea
/widgets
/tmp
*.tgz
/src-widgets/.__mf__temp

#ignore .commitinfo created by ioBroker release script
.commitinfo
/.claude/settings.local.json
